.page-wrapper {

}

.markdown-section code {
    background-color: #e6f1ff;
    color: #006EFF;
    padding: 2px 4px;
    border-radius: 3px;
}

.markdown-section hr {
    height: 2px;
}

.markdown-section b, .markdown-section strong {
    color: #006EFF;
}

.markdown-section a {
    color: #006EFF;
    text-decoration: underline;
}
