.page-wrapper {

}

.markdown-section code {
    background-color: #e6f1ff;
    color: #006EFF;
    padding: 2px 4px;
    border-radius: 3px;
}

.markdown-section hr {
    height: 2px;
}

.markdown-section b, .markdown-section strong {
    color: #111;
    font-weight: bold;
}

.markdown-section a {
    color: #006EFF;
    text-decoration: underline;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {

}

.markdown-section table thead tr {
    background: #f5f5f5;
}

.markdown-section table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0);
}
